FEEDBACK_TOKEN=
OFF_USER_ID=
OFF_PASSWORD=
CONTACT_EMAIL=thiago.assisfernandes@gmail.com
USE_OFF_STAGING=false
GITHUB_OWNER=Thigas-Tech
GITHUB_REPO=pantry_app
FEEDBACK_ENABLED=true
OPEN_PRICES_TOKEN=
USDA_API_KEY=
